- name: Services
  # Optionally, if you only have a single page you can hide the desktop navigation for a cleaner look
  # hide-desktop-navigation: true
  columns:
    - size: small
      widgets:
        - type: custom-api
          title: Tailscale Devices
          title-url: https://login.tailscale.com/admin/machines
          url: https://api.tailscale.com/api/v2/tailnet/-/devices
          headers:
            Authorization: Bearer tskey-api-koky3goHcz11CNTRL-KnxSs9Rj9dKUC8uVFo3EdKi3swdwXCJ2
          cache: 10m
          template: |
            {{/* User Variables */}}
            {{/* Set to true if you'd like an indicator for online devices */}}
            {{ $enableOnlineIndicator := false }}

            <style>
              .device-info-container {
                position: relative;
                overflow: hidden;
                height: 1.5em;
              }

              .device-info {
                display: flex;
                transition: transform 0.2s ease, opacity 0.2s ease;
              }

              .device-ip {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                opacity: 0;
                transition: transform 0.2s ease, opacity 0.2s ease;
              }

              .device-info-container:hover .device-info {
                transform: translateY(100%);
                opacity: 0;
              }

              .device-info-container:hover .device-ip {
                transform: translateY(0);
                opacity: 1;
              }

              .update-indicator {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--color-primary);
                display: inline-block;
                margin-left: 4px;
                vertical-align: middle;
              }

              .offline-indicator {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--color-negative);
                display: inline-block;
                margin-left: 4px;
                vertical-align: middle;
              }

              .online-indicator {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--color-positive);
                display: inline-block;
                margin-left: 4px;
                vertical-align: middle;
              }

              .device-name-container {
                display: flex;
                align-items: center;
                gap: 8px;
              }

              .indicators-container {
                display: flex;
                align-items: center;
                gap: 4px;
              }
            </style>
            <ul class="list list-gap-10 collapsible-container" data-collapse-after="4">
              {{ range .JSON.Array "devices" }}
              <li>
                <div class="flex items-center gap-10">
                  <div class="device-name-container grow">
                    <span class="size-h4 block text-truncate color-primary">
                      {{ findMatch "^([^.]+)" (.String "name") }}
                    </span>
                    <div class="indicators-container">
                      {{ if (.Bool "updateAvailable") }}
                      <span class="update-indicator" data-popover-type="text" data-popover-text="Update Available"></span>
                      {{ end }}

                      {{ $lastSeen := .String "lastSeen" | parseTime "rfc3339" }}
                      {{ if not ($lastSeen.After (offsetNow "-10s")) }}
                      {{ $lastSeenTimezoned := $lastSeen.In now.Location }}
                      <span class="offline-indicator" data-popover-type="text"
                        data-popover-text="Offline - Last seen {{ $lastSeenTimezoned.Format " Jan 2 3:04pm" }}"></span>
                      {{ else if $enableOnlineIndicator }}
                        <span class="online-indicator" data-popover-type="text" data-popover-text="Online"></span>
                      {{ end }}
                    </div>
                  </div>
                </div>
                <div class="device-info-container">
                  <ul class="list-horizontal-text device-info">
                    <li>{{ .String "os" }}</li>
                    <li>{{ .String "user" }}</li>
                  </ul>
                  <div class="device-ip">
                    {{ .String "addresses.0"}}
                  </div>
                </div>
              </li>
              {{ end }}
            </ul>



    - size: full
      widgets:
        - type: server-stats
          servers:
            - type: local
              name: Server

        # - type: docker-containers
        #   hide-by-default: false
        - type: monitor
          cache: 1m
          title: Services
          sites:
            - title: Nginx
              url: http://100.81.92.40:81
              icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/nginx-proxy-manager.webp
            - title: Nextcloud
              url: http://cloud.danielpereira.xyz
              icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/nextcloud.webp
            - title: AdGuard
              url: http://adguard.danielpereira.xyz
              icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/adguard-home.webp
